.wrapper {}
	.title {
		display: flex;
		flex: 1 0 auto;
		margin-bottom: 0.62em;
		align-items: center;
	}
		.title::after {
			content: "";
			flex: 1 0 auto;
			display: inline-block;
			height: 0.025em;
			margin-left: 0.25em;
			position: relative;
			top: -0.125em; /* offset because Kandinsky font is weird */
			background-color: var(--base-color);
		}
		.details {
			margin-top: 1.62em;
		}
			.subtitle {
				margin-bottom: 0.62em;
			}
			.tags {
				margin-top: 1em;
			}
				.list {
					list-style-type: none;
				}
					.tag {
						display: inline-block;
						vertical-align: top;
						color: var(--aside-color);
					}
						.tag:not(:last-child)::after {
							content: "/";
							display: inline-block;
							margin: 0 0.62em;
						}