.wrapper {
	display: flex;
	width: 100%;
	min-height: 100vh;
}
	.back {
		position: absolute;
		top: 0;
		left: 0;
	}
	.container {
		display: flex;
		width: 100%;
		max-width: 100rem;
		margin: auto;
		flex: 1 0 auto;
		padding: 0 var(--side-padding)
	}
		.intro, .form {
			flex: 1 0 50%;
		}
		.intro {
			font-size: var(--body-size);
		}
			.title {
				font-size: var(--heading-size);
				margin-bottom: 0.62em;
			}
			.body {}
				.body p:first-of-type {
					font-size: var(--subheading-size);
					font-weight: bold;
				}
				.intro p + p {
					margin-top: 1em;
				}
			.human {
				padding: 0.62em 0 0.62em 2.62em;
				margin-top: 1.62em;
				border-left: 0.62em solid var(--accent-color);

			}
				.subtitle {
					font-size: var(--subheading-size);
					margin-bottom: 0.62em;
				}
				.human q {
					font-weight: bold;
					font-style: italic;
				}
		.form {
			width: 100%;
			padding-left: 4.25em;
			position: relative;
			--input-padding: 1em;
		}
			.inputs {
				width: 100%;

			}
				.inputWrapper + .inputWrapper {
					margin-top: 2.62em;
				}
				.input {
					display: block;
					width: 100%;
					padding: var(--input-padding) 2.62em var(--input-padding) var(--input-padding);
					border: 2px solid var(--accent-color);
					border-radius: 0;
					-webkit-appearance: none;
					color: var(--base-color);
					background-color: transparent;
				}

				.input:focus,
				.input:valid {
					outline: 0;
					/*background-color: var(--accent-color);*/
				}
					.input::placeholder,
					select[data-value=select__option_0]:focus,
					select[data-value=select__option_0]:focus option:first-child {
						color: var(--aside-color);
					}
					.input option {
						background-color: var(--accent-color);
					}
				
				/*VALIDATOR
				--------------------------------------------*/
				.validator {
					display: flex;
					width: 2.62em;
					height: 100%;
					position: absolute;
					top: 0;
					right: 0;
					transform: scaleX(0);
					justify-content: center;
					align-items: center;
					background-color: var(--accent-color);
					transform-origin: 100% 50%;
					transition: transform .3s;
				}
				.input:focus ~ .validator,
				.input:valid ~ .validator {
					transform: scaleX(1);
				}
					.validator::before {
						content: "";
						display: block;
						height: 100%;
						width: 100%;
						position: absolute;
						top: 0;
						left: 0;
						transform: scale(0.5);
						opacity: 0;
						background-size: 50% auto;
						background-repeat: no-repeat;
						background-position: center;
						transition: transform .3s, opacity .3s;
					}
					.validator::before {
						background-image: url(assets/icons/tick.svg);
					}
					.input:valid ~ .validator::before {
						transform: scale(1);
						opacity: 1;
					}
					.dot {
						display: inline-block;
						height: 1em;
						width: 1em;
						font-size: 0.5em;
						background-color: var(--base-color);
						border-radius: 100%;
						opacity: 0;
						transition: opacity .3s;
						animation-name: scaleInOut;
						animation-iteration-count: infinite;
						animation-duration: 1s;
					}
					.dot:nth-child(1){ animation-delay: 0s;   }
					.dot:nth-child(2){ animation-delay: 0.2s; }
					.dot:nth-child(3){ animation-delay: 0.4s; }

					.input:not(:valid):focus ~ .validator .dot { 
						opacity: 1; 
					}


				.message {
					min-height: 16.2em;
				}

				/*SUBMIT BUTTON MAGIC
				/---------------------------------------------*/
				.submit {
					width: 100%;
					padding: 1em ;
					margin-top: 1.62em;
					transform: scale(1);
					background-color: transparent;
					transition: transform .1s;
				}
					.submit .label {
						position: relative;
						display: inline-block;
						font-size: var(--subheading-size);
						transition: color .3s;
					}
						.submit .label::after {
							content: "";
							display: inline-block;
							width: 125%;
							height: 4px;
							position: absolute;
							left: 50%;
							top: 50%;
							transition: transform .3s;
						}
				.submit.disabled {
					cursor: not-allowed;
				}
					.submit.disabled .label {
						color: var(--aside-color);
					}
						.submit.disabled .label::after {
							background-color: var(--aside-color);
							transform: translate(-50%, -50%) scaleX(1);
						}
				.submit.enabled {}
				.submit.enabled:active {
					transform: scale(0.9);
				}
					.submit.enabled .label {
						color: var(--accent-color);
					}
					.submit.enabled:hover .label {
						text-decoration: underline;
					}
						.submit.enabled .label::after {
							background-color: var(--accent-color);
							transform: translate(-50%, -50%) scaleX(0);
						}
					
			/*HEART RESPONSES etc
			----------------------------------*/		
			.response {
				display: flex;
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
				.response::before,
				.response::after {
					content: "";
					display: block;
					font-size: 16.2em;
					height: 100%;
					width: 100%;
					position: absolute;
					top: 0;
					left: 0;
					background-size: 1em auto;
					background-position: center;
					background-repeat: no-repeat;
				}
				/*coloured hearts*/
				.response::before {
					transform: scale(0.3);
					transition: transform 1s var(--ease-out), opacity .3s;
				}
				/*empty heart*/
				.response.status_1::after {
					animation: beat 1s infinite;
					transform: scale(0.3);
					opacity: 1;
					transition: opacity .3s;
				}
				.response.status_2::before,
				.response.status_-1::before {
					transform: scale(1);
					opacity: 1;
				}

				.response.status_2::before {
					background-image: url(assets/icons/heart__whole.svg);
				}
				.response.status_1::after {
					background-image: url(assets/icons/heart__empty.svg);	
				}
				.response.status_-1::before {
					background-image: url(assets/icons/heart__broken.svg);
				}
				.text {
					display: inline-block;
					max-width: 27em;
					padding: 1em;
					position: relative;
					z-index: 1;
					text-align: center;
					background-color: var(--inactive-color);
				}


@media(max-height: 60rem){
	.wrapper {}
		.container {
			margin-top: 10rem;
		}
}

@media(max-width: 1024px) and (orientation: portrait){
	.form {
		margin-top: auto;
	}
}

@media(max-width: 767px){
	.container {
		--header-padding: calc(var(--subheading-size) * 2);
		--header-size: calc(var(--subheading-size) + var(--header-padding));
		margin-top: calc(var(--header-size) + var(--heading-size));
		padding-bottom: calc(var(--side-padding) * 1.62);
		flex-direction: column;
	}
		.intro {
			margin-bottom: 1.62em;
		}
		.form {
			padding-left: 0;
			margin-top: 2.62em;
		}

}

@keyframes beat {

	0%, 33%, 66%, 100% {
		transform: scale(0.3);
	}
	16.5% {
		transform: scale(0.35);
	}
	49.5% {
		transform: scale(0.375);
	}

}

@keyframes scaleInOut {
	0%, 50%, 100% {
		transform: scale(0.75);
	}
	25% {
		transform: scale(1);
	}
}