.wrapper {
	position: relative;
}
	.wrapper > *:not(:focus)::placeholder,
	.wrapper > select[data-value=select__option_0]:not(:focus) {
		color: transparent;
	}
	.wrapper > *:focus ~ label,
	.wrapper > *:not(:placeholder-shown) ~ .label,
	.wrapper select:not([data-value=select__option_0]) ~ .label{
		transform: translate(0, -168%);
	}

	.label,
	.wrapper select[data-value=select__option_0]:not(:focus) ~ .label {
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(var(--input-padding), var(--input-padding));
		pointer-events: none;
		transition: transform .3s;
	}

	.wrapper select[data-value=select__option_0]:focus option {
		color: var(--base-color);
	}

/*
	I actually mean @supports selector(A:placeholder-shown) but nothing supports that yet, ironically,
	so in this case I'm just using this to target Edge
*/
@supports not (clip-path){
	.label {
		transform: translateY(-168%) !important;
	}
}