* {
	margin:  0;
	padding: 0;
	border:  0;
	box-sizing: border-box;
}

:root {
	--base-color: #fbfbfb;
	--accent-color: #ef2d5e;
}

body {
	font-size: 18px;
	color: var(--base-color);
}

h1 {
	font-family: "Kandinsky";
}

p, a, button {
	font-size: 1em;
	font-family: "Consolas", sans-serif;
}

p, li, a {
	line-height: 1.5em
}
a:link, 
a:visited, 
a:active {
	color: var(--accent-color);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
