:root {
	--ease-out: cubic-bezier(0.165, 0.84, 0.44, 1);
	--ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slide {
	transition: opacity .3s, transform .3s;
}
.slide.out {
	opacity: 0;
	transform: translateX(-1em);
}
.slide.in {
	opacity: 1;
	transform: translateX(0);
	transition-delay: 1s;
}
.slide.right {
	opacity: 0;
	transform: translateX(1em);
	transition-delay: 0.1s;
}
.slide.up {
	opacity: 0;
	transform: translateY(-1em);
}
.slide.down {
	opacity: 0;
	transform: translateY(1em);
}


.fade {
	transition: opacity .3s;
}
.fade.in {
	opacity: 1;
}
.fade.out {
	opacity: 0;
}
.out {
	pointer-events: none;
}