/* FONT-RULES
-----------------------------*/
:root {
	--body-size: 1em;
	--heading-size: 4.25em;
	--subheading-size: 1.62em;
}
.title {
	font-family: "Kandinsky";
	color: var(--base-color);
}
.subtitle {
	font-family: "Consolas";
	font-weight: bold;
	text-transform: uppercase;
	color: var(--base-color);
}
.body {
	font-family: "Consolas", sans-serif;
}

@media(max-width: 767px){
	:root {
		--heading-size: 2.62em;
	}
}