/*NORMALISATION
--------------------------*/
* {
	margin:  0;
	padding: 0;
	border:  0;
	box-sizing: border-box;
}

html, body, #app {
	/*height: 100%;*/
	width: 100%;
}

html:global(.a-fullscreen){
	position: absolute;
	scroll-behavior: smooth;
}
html:global(.a-fullscreen) body {
	overflow: auto;
}

button {
	padding: 0;
}
button:hover {
	cursor: pointer;
}
button:focus,
select:focus,
a:focus {
	outline: none;
}
abbr {
	text-decoration: none;
}
:root {
	--base-color: #fbfbfb;
	--accent-color: #ef2d5e;
	--aside-color: #777777;
	--inactive-color: #222222;
}

::-webkit-scrollbar {
	background-color: var(--inactive-color);
}
::-webkit-scrollbar-thumb {
	background-color: var(--accent-color);
}


/*CORE STYLES
-----------------------------*/
body {
	color: var(--base-color);
}

a:link, 
a:visited, 
a:active {
	color: var(--accent-color);
	text-decoration: none;
}
a:hover,
a:focus {
	text-decoration: underline;
}
