.wrapper {
	display: flex;
	width: 100%;
	min-height: 100vh;
	--portrait-width: 33vw;
}
	.back {
		/*position: absolute;
		top: 0;
		left: 0;*/
	}
	.container {
		display: flex;
		margin-right: auto;
		padding: 8.8em var(--side-padding);
		padding-left: ;
		position: relative;
		z-index: 1;
		flex-direction: column;
		/*justify-content: center;*/
	}
		.ahoy, .mentoring {
			max-width: 60rem;
		}
		.ahoy {}
			.title {
				font-size: var(--heading-size);
				margin-bottom: 0.62em;
			}
			.subtitle {
				font-size: var(--subheading-size);
				margin-bottom: 1em;
			}
			.ahoy .subtitle {
				text-transform: none;
			}
			.body + .body {
				margin-top: 1em;
			}
		.mentoring {
			padding: 0.62em 0 0.62em 2.62em;
			margin-top: 2.62em;
			border-left: 0.62em solid var(--accent-color);
		}

			.commitment {
				margin: 1.62em 0 1.62em 1.62em;
				max-width: 32rem;
				list-style-type: decimal;
			}
				.item {}
				.item + .item {
					margin-top: 0.62em;
				}
	.languageWrapper {
		height: 100vh;
		position: relative;
		right: calc(calc(11vw - 1.62em) * -1);
		--language-width: 10em;
	}
		.languages {
			display: block;
			height: calc(100% + (2 * var(--language-width)));
			width: var(--language-width);
			flex: 0 0 var(--language-width);
			position: relative;
			top: calc(var(--language-width) * -1);
			overflow-x: hidden;
			transform-origin: 100% 50%;
			--scrollbar_width: 18px;
		}
			.list {
				display: flex;
				height: 100%;
				width: calc(100% + var(--scrollbar_width));
				padding: calc(var(--language-width) * 1.125) 0;
				flex-wrap: nowrap;
				flex-direction: column;
				overflow-y: scroll;
				overflow-x: hidden;
				list-style-type: none;
			}
				.language {}
					.logo {}
					.label {}
	.portrait {
		display: flex;
		height: 100vh;
		width: var(--portrait-width);
		max-width: 66vh; /* otherwise we see the edge of the image */
		flex: 0 0 var(--portrait-width);
		position: relative;
		overflow: hidden;
		clip-path: polygon(66% 0%, 100% 0%, 100% 100%, 0% 100%);
	}
		.image {
			display: block;
			height: 100%;
			width: auto;
			position: absolute;
			top: 50%;
			right: 50%;
			transform: translate(calc(50% + 15vh), -50%);
			
		}