.wrapper {
	display: flex;
	width: 100%;
	min-height: 100vh;
	--portrait-width: 33vw;
	--language-size: 25vh;
}
	.back {
		position: absolute;
		top: 0;
		left: 0;
	}
	.container {
		display: flex;
		margin-right: 6vw;
		margin-left: 10vw;
		padding: 8.8em var(--side-padding);
		width: calc(100% - var(--portrait-width) - calc(var(--language-size) / 2));
		max-width: 50vw;
		position: relative;
		z-index: 1;
		flex-direction: column;
		justify-content: center;
	}
		.ahoy, .mentoring {
			max-width: 60rem;
		}
		.ahoy {}
			.title {
				font-size: var(--heading-size);
				margin-bottom: 0.62em;
			}
			.subtitle {
				font-size: var(--subheading-size);
				margin-bottom: 1em;
			}
			.ahoy .subtitle {
				text-transform: none;
			}
			.body + .body {
				margin-top: 1em;
			}
		.mentoring {
			padding: 0.62em 0 0.62em 2.62em;
			margin-top: 2.62em;
			border-left: 0.62em solid var(--accent-color);
		}

			.commitment {
				margin: 1.62em 0 1.62em 1.62em;
				max-width: 32rem;
				list-style-type: decimal;
			}
				.item {}
				.item + .item {
					margin-top: 0.62em;
				}
		.socialMedia {
			margin-top: 1.62em;
		}
			.networks {
				display: flex;
				justify-content: flex-start;
				list-style-type: none;
			}
				.network + .network {
					margin-left: 1em;
				}
					.link {
						display: inline-block;
						font-size: 1.62em;
						height: 1em;
						width: 1em;
					}
						.logo {
							display: block;
							height: 100%;
							width: 100%;
							transform: scale(1);
							fill: var(--accent-color);
							transition: fill .3s, transform .3s;
						}
						.link:hover .logo {
							transform: scale(1.1);
							fill: var(--base-color);
						}

	.portrait {
		height: 100vh;
		width: var(--portrait-width);
		max-width: 66vh; /* otherwise we see the edge of the image */
		position: fixed;
		top: 0;
		right: 0;
		overflow: hidden;
		clip-path: polygon(66% 0%, 100% 0%, 100% 100%, 0% 100%);
		background-color: #ebf0e9; /* the wall colour in the photo to show whilst the asset loads */
	}
		.image {
			height: 100%;
		}
			.image img{
				display: block;
				height: 100%;
				width: auto;
				position: absolute;
				top: 50%;
				right: 50%;
				transform: translate(calc(50% + 15vh), -50%);
				
			}

@media(max-width: 900px){
	.wrapper {
		flex-direction: column;
	}
		.container {
			width: 100%;
			max-width: none;
			padding-top: calc(var(--side-padding) * 1.62);
			padding-bottom: 1.62em;
			margin: 0;
			order: 3;
		}
			.networks {
				justify-content: center;
			}
		.portrait {
			width: 100%;
			min-height: 65vw; 
			max-width: none;
			height: auto;
			position: relative;
			order: 1;
			clip-path: none;
		}
			.image img{
				width: 100%;
				height: auto;
				position: relative;
				right: 0;
				top: 0;
				transform: none;
			}
}

@media(max-width: 767px){
	.ahoy .subtitle {
		font-size: var(--body-size);
		text-transform: uppercase;
	}
	.portrait {
		margin-top: 3em;
	}
}
