.wrapper {
	display: flex;
	width: 100%;
	position: relative;
	z-index: 2;
	--side-padding: 5.47vw;
}
	.sidebar {
		height: 100%;
		padding: 4.25em var(--side-padding) 0;
		flex: 0 0 calc(10em + 9vw);
		position: relative;
	}
		
	.projects {
		/*flex: 1 0 auto;*/ /*removed so that title line doesn't over-extend */
		padding-bottom: 8.8em;
	}

@media(max-width: 1025px){
	.wrapper {
		flex-direction: column;
	}
		.sidebar {
			flex-basis: 0;
			padding: 0;
		}
}

@media(max-width: 768px){
	.wrapper {}
		.sidebar {
			flex-basis: 2.62em;
		}
}