.wrapper {
	display: flex;
	width: 100%;
	position: relative;
	z-index: 2;
	padding: 0 5.47vw 0;
}
	.sidebar {
		height: 100%;
		padding-top: 4.25em;
		flex: 0 0 20em;
	}
		.nav {}
			.links {
				list-style-type: none;
			}
			.back {
				margin-bottom: 1.62em;
				text-transform: uppercase;
				appearance: none;
				color: var(--base-color);
				background-color: transparent;
			}
	.projects {
		flex: 1 0 auto;
		height: 1000px;
		padding-top: 8.8em;
	}