.wrapper {
	display: flex;
	width: 100%;
	position: relative;
	z-index: 2;
	--side-padding: 5.47vw;
}
	.sidebar {
		height: 100%;
		padding: 4.25em var(--side-padding) 0;
		flex: 0 0 calc(10em + 9vw);
		position: relative;
	}
		.nav {
			position: fixed;
		}
			.links {
				list-style-type: none;
			}
			.back {
				font-size: var(--subheading-size);
				margin-bottom: 1.62em;
				text-transform: uppercase;
				appearance: none;
				color: var(--base-color);
				background-color: transparent;
			}
			.back:hover,
			.back:focus {
				text-decoration: underline;
			}
	.projects {
		/*flex: 1 0 auto;*/ /*removed so that title line doesn't over-extend */
		padding-bottom: 8.8em;
	}

@media(max-width: 1025px){
	.wrapper {
		flex-direction: column;
	}
		.sidebar {
			padding: 0;
		}
		.nav {
			padding: 1.62em var(--side-padding);
			z-index: 2;
			background-color: var(--accent-color);
		}
			.links {
				display: flex;
				flex-wrap: wrap;
			}
				.links .item:not(:last-child)::after {
					content: "∙";
					display: inline-block;
					margin: 0 1em;
				}
					.links .link:link,
					.links .link:visited {
						color: var(--base-color);
					}
}

@media(max-width: 767px){
	.back {
		margin-bottom: 1em;
	}
}