.wrapper {}
	.container {
		display: flex;
		justify-content: flex-start;
	}
	.caption {}
		.controls {
			display: flex;
			margin: 1em 0;
			justify-content: space-between;
			align-items: flex-start;
		}
			.scrollers {
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;
				list-style-type: none;
			}
				.item {
					
				}
					.button {
						font-weight: bold;
						color: var(--accent-color);
						background-color: transparent;
						text-transform: uppercase;
					}
					.button:hover,
					.button:focus {
						text-decoration: underline;
					}
					.item::after {
						content: "/";
						margin: 0 0.62em;
						margin-left: 1em;
						margin-right: 1em;
					}
					.item:last-child::after {
						display: none;
					}
			

@media(max-width: 767px){
	.wrapper {
		width: 100%;
	}
		.container {
			flex-direction: column;
		}			
}