.wrapper {
	--scrollbar_width: 9px;
	font-size: 20vw;
	height: 1em;
	width: calc(var(--aspect-ratio) - var(--scrollbar_width));
	background-color: var(--inactive-color);
	overflow: hidden;
}
.wrapper:not(:last-child){
	margin-right: 0.62rem;
}
	.container {
		height: 100%;
		position: relative;
		width: calc(var(--aspect-ratio) + var(--scrollbar_width));
		overflow-y: scroll;
		scroll-snap-type: y mandatory;
	}
		.imageWrapper {}
			.newPage:not(:first-child) {
				border-top: 0.25rem dashed var(--accent-color);
			}
				.image img{
					display: block;
					width: 100%;
					height: auto;
					transition: opacity .3s;
				}
		
.wrapper.desktop {
	--aspect-ratio: 1.79em;
}
.wrapper.tablet {
	--aspect-ratio: 0.77em;
}
.wrapper.mobile {
	--aspect-ratio: 0.58em;
}

/* TOUCHSCREEN-ONLY DEVICES
-------------------------------------*/
@media (hover: none) and (pointer: coarse) {
	.wrapper {
		--scrollbar_width: 0px;
	}
}

/* RESPONSIVE JAZZ
---------------------------------------*/
@media(max-width: 1025px){
	.wrapper {
		font-size: 27.5vw;
	}
}

@media(max-width: 767px){
	.wrapper {
		font-size: calc(100vw - (var(--side-padding) * 2));
		width: calc(1em - var(--scrollbar_width));
		height: var(--aspect-ratio);
		--scrollbar_width: 17px;
	}
		.container {
			width: calc(100% + var(--scrollbar_width));
		}
	.wrapper:not(:last-child){
		margin-right: 0;
		margin-bottom: 0.62rem;
	}
	.wrapper.active {
		max-height: 100vh;
		filter: blur(0px);
		transition: max-height .3s ease-out, filter .3s;
	}
	.wrapper.inactive {
		max-height: 0;
		filter: blur(100px);
		transition: max-height .6s ease-out, filter .3s;
	}

	.wrapper.desktop {
		--aspect-ratio: 0.53em;
	}
	.wrapper.tablet {
		--aspect-ratio: 1.29em;
	}
	.wrapper.mobile {
		--aspect-ratio: 1.73em;
	}
}